// Component:		  Variables
//
// Description:		Define all variables
//
// =============================================================================
$jumbotron-big-title-background-color-blue:#669cd3;
$jumbotron-big-title-background-color-orange:#f89954;
$jumbotron-big-title-background-color-green:#50b57b;
$jumbotron-big-title-background-color-red:#e24757;