@charset "UTF-8";
body{margin: 0;font-family:"微软雅黑";color: rgb(88, 89, 91);}
.contant{width: 1261px;margin:0 auto;height: 2242px;}
.box{width: 1000px;margin: auto;}
.analysis{width: 1585px;height: 2242px;}
.result{width: 1585px;height: 2242px;}
.analysis .box{padding-top:350px;height: 1709px;display:-webkit-box; display:-webkit-flex; display:-ms-flexbox; display:flex;-webkit-box-pack:center;-webkit-justify-content:center;-ms-flex-pack:center;justify-content:center;-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.analysis>.contant,.result>.contant{background-image: url('bacchus_card02.jpg');background-size: 100%  100%;background-repeat: no-repeat;padding-top:1px;}
.folate_box .box{height: 1709px;padding-top: 350px;display: block;}
.title{font-weight: bold;font-size: 300%;text-align: center;width: 100%;}
.sugar{background-image: url("sugar.png");background-size: 100% 100%;background-repeat: no-repeat;width: 785px;height:537px;margin:375px auto 0;color: #fff;font-size: 300%;text-align: center;}
.sugar>div{padding-top: 318px;font-weight: bold;}
.coriander{background-image: url("coriander.png");}
.meat{background-image: url("meat.png");}
.caffeine{background-image: url("caffeine.png");}
.bitter{background-image: url("bitter.png");}
.asparagus{background-image: url("asparagus.png");}
.seafood{background-image: url("seafood.png");}
.lactose{background-image: url("lactose.png");}
.folate{background-image: url("folate.png");}
.hepatitis{background-image: url("hepatitis.png");}
.flu{background-image: url("flu.png");}
table{width: 950px;margin:30px auto 50px;text-align: center;font-size: 140%;border-bottom: 2px solid  #C49A6C;border-top: 2px solid #C49A6C;}
table th{font-size: 120%;height: 55px;}
table td{border-bottom: 2px dashed #C49A6C;line-height: 46px;font-size: 90%;width: 18%;height: 46px;}
table tr:last-of-type td{border-bottom:none!important;}
table td:last-of-type{width: 28%;border-bottom:none!important;}
table tr:first-of-type td{border-top: 2px solid #C49A6C;}
#distributed{border: 2px solid #C49A6C;border-radius: 50px;width: 950px;margin: auto;height: 450px;font-size: 140%;margin-top: 50px;}
.num{line-height: 2em;width: 960px;margin:0 auto 50px;font-size: 137%;text-align: center;}
.answer{line-height: 2em;width: 950px;margin: auto;font-size: 125%;text-align: justify;word-wrap: break-word; word-break: break-all;}
.bacchus{font-size: 800%;text-align: center;color: #D54753;font-weight: bold;height: 200px;margin-top:90px;}
.level{margin: 100px auto 0;width: 950px;}
.level>li{width: 33%;display: inline-block;vertical-align: middle;list-style: none;}
.level>li>img{width: 158px;height: 152px;margin: auto;display: block;}
.explain{font-size: 150%;text-align: center;width: 700px;margin:100px auto 0px;line-height:2em;height: 210px;}
.style_box{width: 920px;margin: auto;}
.style{font-size: 150%;text-align: center;display: inline-block;color: #C49A6C;vertical-align: middle;}
.signature{font-family: '华文行楷','楷体';color: #333;font-size: 250%;height: 66px;}
i{font-size: 80%;font-family: '华文行楷';}
.date{width: 50%;}
.name{width: 50%;float: right;}
.center{text-align: center;}
.weight{font-weight: bold;}
.footer{width: 1246px;text-align: right;}
.width{border-top: 1px dashed #C49A6C;width: 50%;margin: auto;}
.tab tr:nth-of-type(1) td:last-of-type{padding-top: 14px;height: 46px;line-height: 32px;}
.tab1 tr:nth-of-type(1) td:nth-of-type(1){padding-top: 14px;height: 46px;line-height: 32px;}
.changeWidth{width: 960px;}
.table td{width: 33%;}
.table td:last-of-type{width: 34%;}