// Component:		  Variables
//
// Description:		Define all variables
//
// =============================================================================
$view-gray-background-color:#f5f5f5;
//header的背景色
$header-green-background-color:#B41929;

$grade-high-color:#F92672;
$grade-low-color:#66D9EF;