img[src="http://eiv.baidu.com/hmt/icon/21.gif"]{display: none;}
.wrap{min-width:1000px;margin:0 auto;max-width: 1200px;}
.clear{clear:both;}

//
// text-overflow
// --------------------------------------------------
.text-overflow{
	overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis; -o-text-overflow: ellipsis; text-overflow: ellipsis; 
}

//
// attr-calc
// --------------------------------------------------
@mixin attr-calc($property:width,$expression:100%){
	$propertyToUpper:to-upper-case($property);  //In order to solve the coexistence of -webkit-calc and -moz-calc
	#{$property}: calc(#{$expression});
    #{$propertyToUpper}: -webkit-calc(#{$expression});
    #{$property}: -moz-calc(#{$expression});
}

//
// Opacity
// --------------------------------------------------
@mixin opacity($opacity:1){
	$opacity-ie:$opacity * 100;
	-webkit-opacity: $opacity;  
	   -moz-opacity: $opacity;  
     -khtml-opacity: $opacity;  
            opacity: $opacity;  
             filter:alpha(opacity=$opacity-ie);  
         -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity-ie)";  
             filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=$opacity-ie); 
}