/**
* CONTENTS
* login style
*
* SETTINGS
* normalize ............................. normalize style storage file
* reset ................................. reset style storage file
* common ................................. reset style storage file
* 
* COMPONENTS
* table ................................. table style storage file
*
* BUSINESS
* head ................................. head style storage file
* navbar ................................. navbar style storage file
*
*/
@import "mixins/normalize","mixins/reset","mixins/common";
@import "dist/table";
@import "services/header","services/navbar","services/footer","services/user","services/popup";

.grade{
	display: none;padding: 3%;overflow: hidden;
	h1{padding: 10px 0px; box-sizing: content-box; text-align: center; font-weight: bold;}
	p{
		padding: 10px 0px;
		span{
			&.black{color:#000;font-weight: bold;}
			&.red{color: #d60e0e;}
			&.block{display:block;}
			&#judge{line-height: 1.5; text-align: justify;padding: 10px 0;}
		}
	}
}

.banner{
	@at-root .banner-bg{background-color: #f8f8f8;}
	@extend .wrap;height: 400px; background-image: url(../img/banner/banner.png); background-repeat: no-repeat; background-color: #f8f8f8; background-position: 80% 140px; overflow: hidden;background-size: 65% 65%;
	h1{font-size: 30px; color: #323232; margin: 80px 0px 20px 70px; display: block; font-weight: bold;}
	span{font-size: 16px; color: #323232; margin: 0px 0px 20px 70px; display: block; font-weight: bold;}
	.red-btn{font-size: 16px; color: #fefcfc; margin: 0px 0px 65px 70px; display: block; width: 120px; height: 40px; background-color: #b51e30; border-radius: 10px; line-height: 40px; text-align: center; box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);}
	.link-btn{color: #fff; margin: 0px 0px 0px 70px; display: block; background-color: #515155; width: 200px; height: 45px; line-height: 45px; text-align: center; border-radius: 5px;}
}

.container{
	@at-root .table-title{font-size: 20px;font-family: sans-serif;color: #323232;font-weight: bold;margin: 20px auto;}
    @extend .wrap;
    padding: 0px 50px;min-width: 900px;max-width: 1100px;
    @at-root .report-detail{position: relative;overflow: hidden;height: 650px;}
    @at-root .report-title{margin-top: 80px; background-image: url(../img/title-bg.png); background-repeat: no-repeat; padding: 0px 0px 0px 66px; width: 119px; height: 125px; line-height: 125px; font-size: 28px; font-family: sans-serif; color: #3b3d40; font-weight: bold; }
    @at-root .position-nav{
    	position: absolute; top: 130px; left: 0px; width: 550px; height: 475px; right: 0px; margin: 0 auto;
		li{width: 167px; height: 167px; border-radius: 50%; position: absolute;
			&.report-one{background-image: url(../img/yaowu.png); top: 0px; left: 0px;right: 0px;margin: 0 auto;
				ul{background-image: url(../img/frbtls.png); top: 9px; left: 120px; width: 300px; padding-left: 50px; padding-bottom: 23px;}
			}
			&.report-two{background-image: url(../img/jbfx.png);top: 110px;left: 0px;
    			ul{background-image: url(../img/flbtrs.png); left: -149px; padding-left: 40px;top: 0px;}
    		}
			&.report-three{background-image: url(../img/nutritionalMetabolism.png);right: 0px;top: 110px;
				ul{background-image: url(../img/frbtls.png);left: 130px; top: -28px; padding-left: 53px;}
			}
			&.report-four{background-image: url(../img/gene.png);left: 50px;bottom: 0px;
				ul{background-image: url(../img/flbtrs.png);bottom: 25px;left: -152px;padding-left: 10px;}
			}
			&.report-five{background-image: url(../img/qw.png); bottom: 0px; right: 50px;
    			ul{background-image: url(../img/frbtls.png);bottom: 0px; left: 149px; padding-left: 53px; }
    		}
			&.report-six{background-image: url(../img/healthGuidance.png); top: 175px; left: 0px;right: 0px;margin: 0 auto;}
    		&:hover .grey-tip{display: inline-block;}
    		&:hover ul{display: block;}
			.grey-tip{display: none; width: 162px; height: 162px; line-height: 162px; text-align: center; background-color: #4c4c4c; border-radius: 50%; color: #fff; font-weight: bold;}
			ul{position: absolute;display: none; list-style-type: disc; color: #A9A9A9; width: 100%; background-repeat: no-repeat; padding-bottom: 16px; background-position: left bottom;
				li{color: #A9A9A9;height: 22px; width: initial; vertical-align: top; position: relative; line-height: 22px;
					a{text-decoration: underline;}
				}
				a.more{color: #fff; background-color: #d47680; padding: 5px; border-radius: 7px; text-decoration: underline; display: inline-block; margin-left: -6px; margin-top: 6px;}
			}
		}
    }
}
