/**
* CONTENTS
* login style
*
* SETTINGS
* normalize ............................. normalize style storage file
* reset ................................. reset style storage file
* common ................................. reset style storage file
* 
* COMPONENTS
* table ................................. table style storage file
*
* BUSINESS
* head ................................. head style storage file
* navbar ................................. navbar style storage file
*
*/
@import "mixins/normalize","mixins/reset","mixins/common","mixins/variables";
@import "dist/table","dist/select";
@import "services/header","services/navbar","services/footer","services/user","services/jumbotron","services/pages";

.jumbotron {
    .big-title{
        @include setBackgroundColorAndColor(#fff,$jumbotron-big-title-background-color-green);
    }
    .acticle div{line-height: 22px;}
}
.re-wrap .big-title{@include setBackgroundColorAndColor(#fff,$jumbotron-big-title-background-color-green);margin-top: 50px;}

.option{
    width: 100%;background-color: #8acba5;border-radius: 7px;padding-top: 7px;padding-bottom: 7px;
    &.green{background-color: $jumbotron-big-title-background-color-green;}
    .zs{display: inline-block;vertical-align: top;margin-top: 5px;margin-left: 15px;}
    .option2{display: inline-block;vertical-align: top;margin-left: 25px;border: 1px solid #fff; border-radius: 3px; padding: 5px; padding-left: 7px; padding-right: 7px;}
}

.title-garden-table{width: 100%;
    thead tr{
        &.grey th{@include setBackgroundColorAndColor(#323232,#eeeeee);}
        th{@include setBackgroundColorAndColor(#fff,$jumbotron-big-title-background-color-green);}
    }
    tbody tr td{
        border-right: 1px solid #d4d5d8;
        a{text-decoration: underline;color:rgb(220, 20, 60);}
    }
}

table input[type="submit"]{
    color: #696969;background-color: rgb(243,245,246);
    border: 0px none;
    cursor: hand;
    font-family: sans-serif;;
    font-size: 15px;
    max-width:250px;
    text-decoration: underline;
}

.yizu{margin-left: 10%;width: 80%;position: relative;margin-top: 15px;}
.yizu>div{position: absolute;top:0;right: 0;font-size: 90%;}

.fanhui{margin-bottom:120px;margin-left: 9%;width: 91%;
position: relative;}
.fanhui img{position: absolute;right: 10px;top:20px;}
.fanhui img:hover{opacity:0.7;}
.fanhui div{position: absolute;right: 0;top:60px;z-index:1;display:none;color: #696969}